$total-columns    : 6;
$column-width     : 4em;
$gutter-width     : 1em;
$grid-padding     : 1em;

$medium-columns   : 8;
$large-columns    : 12;

$container-width  : container-outer-width($large-columns);