@import "compass";
// @import "compass/reset";
// @import "../../images/posts/*.jpg";
// @include all-my-icons-sprites;

body {

  background: #b7b7b7;
  color: #ffffff;
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
}


