@import "compass";
@import "compass/reset";
@import "susy";

@import "base";
@import "sprites";
@import "social";   

$base_color: #409F89;
$contrast_color: #D24054;

body{
  //background: #474747 url(/images/bg.png);
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;

  .comment {
    margin: 0 auto;
    font-size: 20px;
    width: 2em;
    height: 1.5em;
    background: $base_color;
    border-radius: 0.2em;
    position: relative;
    margin-top: 80px;
    margin-bottom: 37px;
    font-size: 51px;
  }


  .comment::before {
    position:absolute;  
    content: "";
    bottom: -0.3em;
    right: 0.4em;
    width:0em;
    height:0em;
    border-bottom:0.4em solid transparent;
    border-left:0.4em solid $base_color;
  }

  section.company {
    text-align: center;

     h1{
      font-size: 48px;
      font-weight: 900;
      color: #2E3639;
      line-height: 1.1em;
    }

    h2 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        opacity: 0.7;
        strong {
          font-weight: bold;
        }
      }
      p{
        font-size: 1em;
        line-height: 1.4em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-align: center;
        color: #3b3b3b;
      }
      p {
        span{
          color: $base_color;
          cursor: pointer;
        }
      }  
  } 

  header {
    a{
      text-decoration: none;
    } 
    h1{
      font-size: 48px;
      font-weight: 900;
      color: #2E3639;
      line-height: 1.1em;
      margin-bottom: 0.5em;
      text-align: center;
      span{
        color: $base_color;
        cursor: pointer;
      }
      :hover{
        color: #D24054;
      }
    }
    h2 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    p{
      font-size: 1.2em;
      line-height: 1.4em;
      margin-bottom: 1.5em;
      text-align: left;
      color: #2E3639;
    }
    p {
      span{
        color: $base_color;
        cursor: pointer;
      }
      b{
        font-weight: bold;
      }
      :hover{
        color: #D24054;
      }
    }
  } 

  footer{
    clear: both;
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    position: relative;

    p{
      text-align: left;
      padding: 20px;
      float: left;
      color: #656565;
      font-size: 11px;

      a{
        color: $base_color;
      }
      :hover{
        color: $contrast_color;
      }
    }
  }

}

#green_bar{
  width: 100%;
  height: 10px;
  background-color: green;
  @include background-image(linear-gradient(left, $base_color, $contrast_color));
  float: none;  
  top: 0; 
}

.container {
  @include container;
  overflow: hidden;

  // background-color: #183152; 
} 

.main{
  @include span-columns($total-columns);
  margin: 0 auto;
}

i{
  display: none;
}

ul{
  margin-top: 20px;
  overflow: hidden;
}

li{
  // 
  margin-top: 10px;
  border-top: 1px solid #656565;
  border-color: rgba(0,0,0,0.075);
  margin-bottom: 10px;
  padding: 12px;
  // 
  margin-bottom: 10px;
  p{
    //
    color: $base_color;
    font-weight: 300;
    font-size: 1.875rem;
    //
  }

  a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #656565;
  }
  aside{
    color: #656565;
    font-size: 1em/1.5;
    line-height: 2;
    font-weight: lighter;
  }

}

li p:hover{
    color: $contrast_color;
}

// || ====== || 
// || TABLET ||
// || ====== ||
@include at-breakpoint($medium-columns) {

  body header{
    margin-bottom: 60px;
    p{
      text-align: center;
    }
  }

  .container {
    //background-color: #375d81;
  }

  section#about {
  
    width: 800px;
    margin: 0 auto; 

    div {
      width: 400px;
      height: 200px;
      float: left;
      margin-bottom: 100px;      
      margin-top: 100px;      
      text-align: center;

      p{
        color: $base_color;
        font-size: 1.1em;
        text-align: justify;
        line-height: 1.1em;
        strong{
          font-weight: bold;
        }
        cite {
          background-color: #355e97;
          color: #fff;
          font-weight: normal; 
          opacity: 0.8;
        }
      }
    } 
  } 
 
  ul{
    width: 610px;
    margin: 0 auto;
  }
    
  li.featured{
    width: 273px;
    height: 176px;
    float: left;
    margin-bottom: 100px;
    border: 8px solid #fff;
    margin-right: 2.44828%; // *
    padding: 0px;
    p{
      color: $base_color;
      font-size: 1.1em;
      font-weight: bold;
    }
  }
  
  #nav li:hover a p{
    color: #D24054;
  }


  #green_bar{
    width: 10px;
    height: 100%;
    background-color: green;
    @include background-image(linear-gradient($base_color, $contrast_color));
    float: left;
    width: 10px;
    height: 100%;
    position: fixed;
    right: auto;
    bottom: 0;  
  }

  i, mark{
    display: block;
    margin-bottom: 15px;
  }

  #shadow{
    width: 782px;
    height: 75px;
    margin: 0 auto;
    background: transparent url(/images/shadow.png);
    background-repeat: no-repeat;
    margin-top: 20px;
  }

  body footer{
    p{
      text-align: center;
      width: 100%;
    }
  }

  article{
     width: 500px;
  }

  .article{
    width: 500px;
    margin: 0 auto;
  }

}

// || ======= ||
// || DESKTOP ||
// || ======= ||
@include at-breakpoint($large-columns) {

  .container {
    //background-color: #ABC8E2;
  }
  
  $main : 12;

  ul{
    width: columns($main + 1);
  }

} 

// || ==== ||
// || POST ||
// || ==== ||
article{
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 1.5;
  a{
    color: #507346;
  }
  strong{
    color: #507346;
    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.1;
  }
  b{
    font-weight: bold;
    font-size: 1.5em;
  }
  span{
    font-weight: bold;
    color: #507346;
  }
}

#disqus_thread{
  margin-top: 30px;
}