---
layout: default
title: Blog
---
{% include nav.html %}

<h2></h2>

<div class="grid">

  {% for post in site.posts %}
  <article style="background-image: url('{{ post.thumb }}')" class="photo">
    <!-- <a href="{{ post.url }}"> -->
      <!-- <div class="dark">
      </div> -->
      <div class="content">
        <!-- <h4>{{ post.title }}</h4>
        <div class="separator"></div>
        <div class="sub">
          <div class="date">{{ post.jp_date }}</div>
          <div><img src="/assets/read.png" alt="Read more" />
          </div> -->
        </div>
    <!-- </a> -->
  </article>
  {% endfor %}

</div>

<div class="modal">
    <img class="modal-image" src="/assets/photos/photo00.jpg">
</div>


<div class="about">
  <h3>Hey, hi!</h3>
  <p>This will eventually turn into a blog, maybe.</p>
  <a href="/">
  <div class="button">Home</div>
  </a>
</div>


<script>
    const modal = document.querySelector('.modal')
    const modalImage = document.querySelector('.modal-image')

    document.querySelectorAll('.photo').forEach((article, i)=>{
        article.addEventListener('click', () => {
            modalImage.src = `/assets/photos/photo0${i}.jpg`
            setTimeout(function() {
                modal.classList.toggle('active')
            }, 600);
        })
    })

    modal.addEventListener('click', () => {
        modal.classList.remove('active')
    })
</script>