---
layout: default
---

<!-- <header data-top="opacity: 1" data--100-top="opacity: 0"> -->
<!-- <a href="about.html"> -->
<header>
  <h1>Hey ya!<br> Meu nome é <span>Anderson Leite</span><br> e este é meu blog. </h1>
  
  <p>Trabalho como <b>Technical Team Leader</b> na <span>R/GA</span>.<br>
  Sou formado em <b>Engenharia de Software</b> na <span>E.E.Mauá</span> e  <b>MBA em Marketing Digital</b> pela <span>ESPM</span></p>.
  
</header> 

<ul id="nav">
{% for post in site.posts limit:6 %}
  <li class="featured">
    <a href="{{ post.url }}">
      <i class="icn-{{ post.image }}"></i>  
      <p>{{ post.title }}</p>
      <aside>{{ post.date | date: "%d %B %Y" }}</aside>
    </a>
  </li>
{% endfor %}
</ul>

<ul>
{% for post in site.posts offset:6 %}
  <li>
    <a href="{{ post.url }}">
      <p>{{ post.title }}</p>
      <aside>{{ post.date | date: "%d %B %Y" }}</aside>
    </a>
  </li>
{% endfor %}
</ul>
