section.post {
  max-width: 980px;
  margin: 0 auto;
  width: 80%;

  .all-posts {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .back-link {
      width: 16px;
      margin-right: 10px;
      transform: rotate(180deg);
    }
  }

  article {
    border: 1px solid $grey_light;
    padding: 40px;
    margin-top: 40px;

    .content {
      p {
        margin: 10px 0;
        color: $grey_dark;
        font: normal normal normal 18px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
        font-weight: lighter;
      }
      img {
        max-width: 100%;
        position: relative;
        margin: 10px 0;
      }

      .header {
        margin-bottom: 40px;
        color: $grey_dark;

        .title {
          font: normal normal normal 28px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
        }
        .date {
          font-size: 14px;
          opacity: .7;
        }
      }
    }
  }
}

section.read-more,
section.comments {
  max-width: 980px;
  margin: 0 auto;
  width: 80%;

  margin-top: 40px;
  font-size: 18px;
  color: $grey_dark;
}
