<!DOCTYPE html>

<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic|Crimson+Text:400,600' type='text/css' rel='stylesheet' />
  
  <title> {% if page.title %} {{ page.title }} | {% endif %} Anderson Leite | Blog</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body lang="pt">
  
  <!-- Green Bar -->
  <div id="green_bar"></div>

  <!-- CSS Logo -->
  <div class="comment"></div>

  <!-- Responsive Container -->
  <div class="container">

    <div class="main">

      {{ content }}

    </div>    

    <!-- Footer -->
    <footer>

      <p>Source on <a href="https://github.com/andersonleite/andersonleite.github.com">GitHub</a> and <a href="/feed.xml">RSS feed</a>.</p>

      <div class="social">
        <a href="http://www.facebook.com/me.andersonleite"                 class="facebook"   target="blank"></a>
        <a href="http://www.twitter.com/anderson_leite"                    class="twitter"    target="blank"></a>
        <a href="https://plus.google.com/u/0/111818244478884521134/posts"  class="googleplus" target="blank"></a>
      </div>

    </footer>

  </div>

</body>
</html>