@import "colors";
@import "links";
@import "styles/photos/photos";
@import "styles/photos/collaps";

// Reset
// ===========================
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul, nav {
  list-style: none;
}

// Layout
// ===========================
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif;
  background: $grey_dark;
  overflow: initial;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: $grey_light;
  background: $grey_dark;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $green;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

@keyframes intro {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes description {
  0% {
    opacity: 0;
    transform: translateY(40px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

.me{
  padding-left: 10px;
  animation: .6s ease-in-out 0s 1 intro;

  @media (max-width: 479px){
    margin-bottom: 40px;
  }
}
.info-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-top: 100px;
}

@media (max-width: 479px){
  .info-container {
    margin-top: 60px;
    margin-bottom: 60px;
    grid-column-gap: 30px;
    grid-template-areas: ". . . ." ". . . .";
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

.spacer._70 {
  height: 70px;
}
@media (max-width: 479px){
  .spacer._70 {
    display: none;
    height: 70px;
  }
}
.circle01 {
  position: static;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: $green;
}

.c2 {
  background: $white;
}
.c3 {
  background: #737373;
}

h1 {
  position: static;
  margin-top: 0px;
  margin-bottom: 10px;
  //-webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  color: $white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

@media (max-width: 991px) {
  h1 {
    font-size: 16px;
    line-height: 26px;
  }
}
.description {
  color: rgb(115, 115, 115);
  font-size: 17px;
  line-height: 30px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  animation: .6s ease-in-out 0s 1 description;

  a{
    transition: all 200ms ease;
    &:hover{
      color: $green;
      opacity: 0.5;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 479px){
  .me {
    grid-column-end: 5;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 0px;
  }
}
@media screen and (max-width: 479px){
  .description {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-end: 3;
    justify-self: stretch;
  }
}

@media (max-width: 991px) {
  .description{
    font-size: 14px;
    line-height: 24px;
  }
}

h2 {
  margin-top: auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #efefef;
}



.area {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  height: auto;
  margin-top: auto;
  flex-direction: column;
  width: 25%;
}

@media screen and (max-width: 767px){
  .area {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media (max-width: 767px) {
  .area{
    margin-bottom: 60px;
    margin-left: -10px;
  }
}
.summary {
  margin-top: 4px;
  color: rgb(115, 115, 115);
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
}

.area-link {
  position: relative;
  overflow: visible;
  height: 20px;
  margin-right: auto;
  font-style: normal;

  transition: all 200ms ease;
  text-decoration: none;

  font-size: 12px;

  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  &:hover p{
    opacity: 1;
  }

  p {
    opacity: 0.5;
    transition: opacity 200ms ease;
  }
}

.areas {
  min-height: 300px;
}

.work{
  height: 0;
  margin-bottom: 70px;
  overflow: hidden;
  transition: height 1s ease;

  &.show {
    height: 1500px;
  }

  .work-sub {
    .logo {
      margin-left: 0px;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .rga {
      width: 20px;
      height:  20px;
      background: #D24054;
      display: block;
    }

    .labs {
      width: 20px;
      height:  20px;
      background: #41b467;
      display: block;
      border-radius: 50%;
    }

    p, ul {
      color: rgb(115,115,115);
      font-size: 14px;
      line-height: 22px;
    }

    .work-copy{
      padding-top: 20px;
    }

    @media only screen and (min-width: 700px) {
      flex-direction: row;
    }
    div{
      margin: 10px;
    }

  }
  .cases{
    display: flex;
  }
  .work-img {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
  }
  .case{
    width: 100%;
    max-width: 800px;
    opacity: 0.8;
    filter: grayscale(50%);
    transition: opacity .5s ease;
    &:hover {
      opacity: 1;
    }
  }

  .no-gap {
    margin: 0px !important;
  }
}
